{% extends "base.html" %}
{% block content %}
    <h2>About Page</h2>
    <p>
        The Charminar is to Hyderabad what the Taj is to Agra or the Eiffel Tower is to Paris. This towering monument cum
        mosque with four minarets and open arches boasts of a history of over 400 years and stands as the finest example of
        the city’s heritage and architectural legacy. Located in the heart of Hyderabad, it remains surrounded by a lively
        market place and is a top attraction for travelers visiting the city.
        Hyderabad's cuisine history has a royal touch this can be known from Nizam's taste for delicious and healthy food. 
        Right from it's magic ingredient like potli masala to clay cookware to a special type of stone usually used to 
        fry meat called patthar ka talawa gosht makes its recipes special and unique.
        On this website you are not only going to get access to secret recipes of the nizam but also the page to buy
        clay cookware and special hyderabadi spices.
        Some of the top eateries of hyderabad include warqi paratha, rumali roti, chicken 65, mutton biriyani, kheer, Irani chai,
        Osmania biscuits, falooda, nihari, paya, qubani ka meetha, mutton haleem, boti kebabs, khichdi kheema, phirni and
        chicken dum biriyani.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Qubani ka Meetha</h3>
            <p>
                Soak the apricots in enough water (just to cover the apricots) overnight. They will become rehydrated and plumpy.
                If the apricots are not pitted then remove the seeds. My apricots are already pitted so I skip this step.
                Heat the apricots and water together, add a stick of cinnamon or few pods of cardamom or even a star anise if you
                wish to. This is just to infuse the flavour in the dessert.
                Few drops of lemon or orange extract, if you have. I added few drops of orange extract and it heightened the flavor
                to another extent.
                Now add the sugar and keep stirring.
                I love the way how sugar slowly caramelises.
                Keep stirring and cook on low heat till it reaches a mushy consistency.
                At this stage you can puree it for a smooth texture and this is more traditional way of doing it or you can leave it
                half crushed.
                Qubani ka meetha is ready and you can serve it warm or cold with saffron cream, garnished with slivered almonds or
                apricot kernels.
                Give some wings to your imagination and present it in a different style like this - apricot pudding trifle.
                For this take a dessert glass and put the base layer of finely chopped almonds, pistachios, walnuts etc.
                Pour the apricot pudding over it. Top it with saffron cream. If requires repeat the steps and serve chilled!!
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://themadscientistskitchen.com/wp-content/uploads/2020/08/Khubani-ka-Meetha.jpg" alt="">
        </div>
    </div>

    <div class="row featurette">
        <div class="col-md-5">
            <img src="" alt="">
        </div>
    </div>

{% endblock %}
