{% extends "base.html" %}
{% block content %}
    <h2>About</h2>
    <p>
        The Charminar is to Hyderabad what the Taj is to Agra or the Eiffel Tower is to Paris.
        Hyderabad's cuisine history has a royal touch this can be known from Nizam's taste for delicious and healthy food. 
        Right from it's magic ingredient like Zaafraan to clay cookware to a special type of stone usually used to 
        fry meat called patthar ka talawa gosht makes its recipes special and unique.
        On this website you are not only going to get access to secret recipes of the nizam but also the page to buy
        clay cookware and special hyderabadi spices.
        Some of the top eateries of hyderabad include warqi paratha, rumali roti, chicken 65, mutton biriyani, kheer, Irani chai,
        Osmania biscuits, falooda, nihari, paya, qubani ka meetha, mutton haleem, boti kebabs, khichdi kheema, phirni and
        chicken dum biriyani.
    </p>
        <div class="row featurette">
        <div class="col-md-7">
            <h3>Mission and Vision</h3>
            <p>
                Our mission is to introduce people to the real hyderabadi zaika.
                Our vision is to be the most favourite digital cookbook for hyderabadi food lovers!!
            </p>
        </div>
        </div>
{% endblock %}